<header>
	<div class="header__container">
		<div class="search__icon">
			<i class="fa fa-search"></i>
		</div>
		<a href="http://docs.iris.tools/" class="header__logo">
			<img width="176" src="http://docs.iris.tools/">
		</a>
		<div class="links__icon">
			<i class="fa fa-bars"></i>
		</div>
		<ul class="header__links">
			<li><a href="http://iris.tools/">IRIS</a></li>
			<li><a href="http://iris.tools/product/detail/analyzer/">Product</a></li>
			<li><a href="http://iris.tools/support/manual/">Pricing</a></li>
			<li><a href="http://iris.tools/gallery/">Blog</a></li>
			<li><a href="http://iris.tools/blog/">Download</a></li>
			<li><a href="http://www.mobigen.com//">Trial</a></li>
		</ul>
		<div class="header__searchbar">
			<form id="rtd-search-form" class="wy-form" action="{{ pathto('search') }}" method="get">
                <input type="text" name="q" placeholder="Search by keyword" autofocus />
                <input type="hidden" name="check_keywords" value="yes" />
                <input type="hidden" name="area" value="default" />
            </form>
		</div>
	</div>
</header>
